body {
  background-image: url("../img/space.jpg");
  background-size: cover;
}
#welcome {
  font-size: 200px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 20px red;
}
a {
  color: white;
}
a:hover {
  color: darkred;
}
#link {
  text-align: center;
}
h1.intro {
  text-align: center;
  font-size: 200px;
  text-decoration: underline;
  text-shadow: 2px 2px 20px blue, 0 0 1em purple, 0 0 0.2em purple;
  border-radius: 35px;
  margin-bottom: 0;
}
h2.intro {
  text-align: center;
  font-size: 50px;
  border-radius: 35px;
  text-shadow: 2px 2px 20px white;
}
p.intro {
  font-size: 20px;
  /*background: rgba(255,255,255,0.5); */
}
#great {
  opacity: 0.75;
  margin-top: 0;
  border-radius: 35px;
}

.highlight1 {
  background-color: #d8d811;
  border: red solid;
}

.highlight2 {
  background-color: red;
  border: purple solid;
}

.highlight3 {
  background-color: green;
  border: lightblue solid;
}
